body {
  width: 100%;
  height: 100%;
  background-color: Black;
}

.ssb-welcome-view {
  display: inline-flex;
  flex-direction: row;
  position: relative;
  margin: 5% 10% 5% 10%; 
  border: solid 2px LightGray;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 5px 5px 5px;
  background-color: White;
}

.ssb-welcome-title-bar {
  display: inline-block;
  position: absolute;
  top: -1em;
  left: 0.25em;
  border: solid 1px gray;
  border-radius: 4px 4px 4px 4px;
  padding: 2px 4px 2px 4px;
  white-space: nowrap;
  background-color: LightGray;
}

.ssb-welcome-content {
  display: inline-flex;
  flex-direction: column;
  order: 0;
  flex: 1;
  min-width: 30em;
}

.ssb-welcome-content-top {
  display: inline-flex;
  flex-direction: row;
  order: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.ssb-welcome-label {
  order: 0;
  white-space: nowrap;
}

.ssb-welcome-message {
  order: 1;
  white-space: pre-wrap;
  padding-left: 10px;
}

.ssb-welcome-content-bottom {
  order: 1;
  border: solid 1px gray;
  border-radius: 4px 4px 4px 4px;
  padding: 4px 4px 4px 4px;
  background-color: LightGray;
}

.ssb-welcome-portrait {
  display: inline-flex;
  flex-direction: column;
  order: 1;
}

.ssb-welcome-image {
  order: 0;  
}

.ssb-welcome-help {
}

